@import "../../../data/styles.css";

.project {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 1;
	height: 100%;
	background: #fafafa;
  	transition: opacity 0.3s ease-in-out;
}

.project-overlay {
	position: absolute; /* Positioned over the background */
	width: 100%; /* The size of the square */
	height: 100%; /* The size of the square */
	background-color: rgba(255, 255, 255, 0.5); /* Initial opacity */
  }

  .project:hover .project-container {
	background-color: rgba(255, 255, 255, 0); /* Initial opacity */
  }

.project a {
	text-decoration: none;
}

.project:hover {
	background: #000000;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.project:hover .project-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.project-container {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	height: 100%; 
	display: flex; /* Activate Flexbox */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

.project-logo {
	width: 30px;
}

.project-logo img {
	width: 100%;
}

.project-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 1em;
	font-weight: 700;
	transition: color 0.3s ease, text-shadow 0.3s ease;
}

.project-description {
	color: var(--secondary-color);
	text-align: center;
	transition: color 0.3s ease, text-shadow 0.3s ease;
}

.project:hover .project-description{
	color:rgb(255, 255, 255);
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.project:hover .project-title{
	color:rgb(255, 255, 255);
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
}

.project-link-text {
	padding-left: 20px;
	font-weight: 700;
}

@media (max-width: 600px) {
	.project {
		height: 300px;
	}
}
